* {
    background-color: aliceblue;
}
h1{
    text-align: center;
    color: rgb(73, 73, 237);
}
h2{
    text-align: center;
    color: rgb(91, 91, 234);
}
#main{
    background-color: rgb(243, 154, 45);
}
img :hover{
    height: 500px;
    width: 500px;
}
